* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f5f6f7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: -20px 0px 50px;
    /* tren -20px|| phai: 0px ||duoi: 50px */

}

h1{
    font-weight: bold;
    margin: 0px;
}

h2{

}

p{

}

span{
    font-size: 12px;
}

a{
    color: #333;
    font-size: 14px; 
    text-decoration: none;
    margin: 15px 0px;
}

button{

    border-radius: 20px;
    border: 1px solid #FF4B2B;
    background-color: #FF4B2B;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    color: #fff;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

button:active{}

button:focus{}
button.ghost{}

form{
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 50px;
    height: 100%;
    text-align: center;
}

input{
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width:100% 
}

.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    width: 768px;
    max-width: 100%;
    /* width <= 768px */
    min-height: 480px;
    /* height >= 480px */
}

.form-container {
    position: absolute;
    top: 0px;
    height: 100%;
    transition: all 0.6 ease-in-out;
}

.sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
    /* nang cao: Oxyz */
}

/* transform */

.sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    /* Thuộc tính làm mờ: về 0 -> mờ đi. Về 1 => nét hơn */
    z-index: 1;
}

/* social-container */

.social-container a {
    border: 1px solid #DDDDDD;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0px 5px;
    /* tren/duoi: 0px  && trai/phai: 5px */
    width: 40px;
    height: 40px;
}

/* style cac the ben ngoai */